body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, sans-serif;
}
body{
	overflow-x: hidden;
}

.grid-container {
	height: 100vh; /* Full viewport height */
	transition: var(--animation-duration);
	width: 100vw;
	position: inherit;
	overflow-x: hidden;
	overflow-y: scroll;
}

.left-side {
	background-color: #ffffff;
	box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); /* 添加陰影 */
	height: 100%;
	width: 100vw;
	transition: var(--animation-duration);
}
.left-side.appear{
	width: 66vw;
}

.right-side {
	height: 100%;
	background-color: #ffffff;
	transition: var(--animation-duration);
	width: 34vw;
	position: absolute;
	top: 0;
	left: 100vw;
	display: block;
	transition-behavior: allow-discrete;
	opacity: 0;
	box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1); /* 另一側的陰影 */
}
.right-side.initial{
	display: none;
	opacity: 0;
}

.right-side.appear {
	left: 66vw;
	display: block;
	opacity: 1;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
}
