<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="bookshelf.css" />
	</head>
	<body>
		<h1>bookshelf...</h1>
    <input id="search_bar" type="text">
    
		<div class="cards">
			<div class="card"><div class="book-title">ONE</div></div>
			<div class="card"><div class="book-title">TWO</div></div>
			<div class="card"><div class="book-title">THREE</div></div>
			<div class="card"><div class="book-title">FOUR</div></div>
			<div class="card"><div class="book-title">FIVE</div></div>
			<div class="card"><div class='book-title'>SIX</div></div>
			<div class="card"><div class='book-title'>SEVEN</div></div>
			<div class="card"><div class='book-title'>EIGHT</div></div>
			<div class="card"><div class='book-title'>NINE</div></div>
			<div class="card"><div class='book-title'>TEN</div></div>
			<div class="card"><div class='book-title'>ELEVEN</div></div>
			<div class="card"><div class='book-title'>TWELVE</div></div>
		</div>
    <script src="bookshelf.js"></script>
	</body>
</html>
