<!-- bookshelf.html -->
{% extends "layout.html" %} {% block content %}
<section id="bookshelf">
	<link
		rel="stylesheet"
		href="{{ url_for('static', filename='bookshelf.css') }}"
	/>
	<h2>Bookshelf</h2>
	<input id="search_bar" type="text" />
	<div class="cards">
		{% for book in books%}
		<div class="card">
			<div class="book-title">
				<img
					src="{{ book['cover'] }}"
					alt="{{book['cover']}}"
					width="100px"
					height="100px"
				/>
				<a href="{{ url_for('book_detail', isbn=book['book_key']) }}"
					>{{ book['name'] }}</a
				>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<script>
	const searchBar = document.getElementById("search_bar")

	function search_book() {
		let input = document.getElementById("search_bar").value
		input = input.toLowerCase()
		let books = document.getElementsByClassName("book-title")

		for (i = 0; i < books.length; i++) {
			if (!books[i].innerHTML.toLowerCase().includes(input)) {
				books[i].parentElement.style.display = "none"
			} else {
				books[i].parentElement.style.display = "block"
			}
		}
	}
	searchBar.addEventListener("input", () => {
		search_book()
	})
</script>
{% endblock %}
